<div class="container-fluid">

  <div class="row mt-5">

    <div class="col-6">

      <div class="mx-auto vr-width">
        <!-- <button class="btn btn-primary" (click)="salvar(scroll)"> -->
        <button class="btn btn-primary mr-2" (click)="salvar()">
          Salvar
        </button>

        <button class="btn btn-danger" [disabled]="form.get('post').value === ''" (click)="limpar()">
          Limpar
        </button>
      </div>

      <div class="mt-2 mx-auto shadow vr-width" [formGroup]="form">
        <ckeditor formControlName="post" [editor]="Editor"></ckeditor>
      </div>

    </div>

    <div class="col-6">

      <!-- <span #scroll></span> -->

      <div class="mx-auto vr-width">
        <button class="btn btn-primary" [disabled]="!showPost" (click)="downloadPDF()">
          Download PDF
        </button>
      </div>

      <div #pdf class="container-A4 shadow bg-white rounded mt-2 mx-auto">

        <div #post class="ck-content" style="margin-left: 0.3cm;margin-right: 0.3cm;"></div>

      </div>

    </div>

  </div>

</div>